@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

.App {
  font-family: "Architects Daughter", cursive;
  text-align: center;
  margin: auto;
}
body {
  background-color: paleturquoise;
}
button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  margin: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  font-family: "Architects Daughter", cursive;
}
.img-div {
  text-align: center;
}

img {
  border-radius: 0.5rem;
}
button:hover {
  background-color: cyan;
  color: black;
  border-color: green;
}

button:active {
  background-color: green;
  color: wheat;
  border-color: green;
}

li:hover {
  background-color: aqua;
}
